*~
*.lo
*.la
build/
src/.deps/
src/.libs/
src/*.dox.h
src/qc_*.cpp
src/ql_*.cpp
src/QC_*.cpp

# Debian package build products
/obj-*/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/qore-odbc-module/
/debian/qore-odbc-module-doc/
/debian/tmp/
**/__pycache__/
