/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page xmlsec_key_typesguide Supported Key Types

    @tableofcontents

    The module supports the following key types through the @ref xmlsec_keydataid_constants "key ID constants":
    - @ref Qore::XmlSec::xmlSecKeyDataAesId "xmlSecKeyDataAesId" - AES symmetric keys
    - @ref Qore::XmlSec::xmlSecKeyDataDesId "xmlSecKeyDataDesId" - DES symmetric keys
    - @ref Qore::XmlSec::xmlSecKeyDataDsaId "xmlSecKeyDataDsaId" - DSA keys
    - @ref Qore::XmlSec::xmlSecKeyDataHmacId "xmlSecKeyDataHmacId" - HMAC keys
    - @ref Qore::XmlSec::xmlSecKeyDataRsaId "xmlSecKeyDataRsaId" - RSA keys
    - @ref Qore::XmlSec::xmlSecKeyDataX509Id "xmlSecKeyDataX509Id" - X.509 certificates

    Keys can be loaded from various formats using @ref xmlsec_keydataformat_constants "key format constants":
    - @ref Qore::XmlSec::xmlSecKeyDataFormatPem "xmlSecKeyDataFormatPem" - PEM format
    - @ref Qore::XmlSec::xmlSecKeyDataFormatDer "xmlSecKeyDataFormatDer" - DER format
    - @ref Qore::XmlSec::xmlSecKeyDataFormatPkcs8Pem "xmlSecKeyDataFormatPkcs8Pem" - PKCS#8 PEM
    - @ref Qore::XmlSec::xmlSecKeyDataFormatPkcs8Der "xmlSecKeyDataFormatPkcs8Der" - PKCS#8 DER
    - @ref Qore::XmlSec::xmlSecKeyDataFormatPkcs12 "xmlSecKeyDataFormatPkcs12" - PKCS#12
    - @ref Qore::XmlSec::xmlSecKeyDataFormatCertPem "xmlSecKeyDataFormatCertPem" - Certificate PEM
    - @ref Qore::XmlSec::xmlSecKeyDataFormatCertDer "xmlSecKeyDataFormatCertDer" - Certificate DER
*/
