/** @mainpage Qore xmlsec Module

    @tableofcontents

    @section xmlsecintro Introduction to the xmlsec Module

    The xmlsec module provides <a href="https://www.aleksey.com/xmlsec/">xmlsec</a> functionality
    to Qore, allowing qore programs to generate and verify XML documents with signatures and
    encryption.

    This module is released under the
    <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a>
    or any later version; see COPYING and the source file headers.
    The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    Like all Qore components, the xmlsec module is thread-safe.

    Encryption, decryption, signing, and verification is performed through the static methods of the
    @ref Qore::XmlSec::XmlSec "XmlSec" class, while access to keys and key managers is provided through
    the @ref Qore::XmlSec::XmlSecKey "XmlSecKey" and @ref Qore::XmlSec::XmlSecKeyManager "XmlSecKeyManager"
    classes.

    @section xmlsecdocumentation Documentation

    - @anchor xmlsec_examples @subpage xmlsec_examplesguide
    - @anchor xmlsec_key_types @subpage xmlsec_key_typesguide
    - @anchor xmlsec_errors @subpage xmlsec_errorsguide
    - @anchor xmlsecreleasenotes @subpage xmlsecreleasenotesguide

*/
